<div class="sweetener-table-container">
  <h2>Sweetener Data</h2>
  <table mat-table [dataSource]="sweeteners" class="mat-elevation-z2 sweetener-table" style="width:100%;">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let sweetener">
        <a *ngIf="sweetener.source" [href]="sweetener.source" target="_blank" rel="noopener">
          {{ sweetener.name }}
        </a>
        <span *ngIf="!sweetener.source">{{ sweetener.name }}</span>
      </td>
    </ng-container>

    <!-- Aliases Column -->
    <ng-container matColumnDef="aliases">
      <th mat-header-cell *matHeaderCellDef>Aliases</th>
      <td mat-cell *matCellDef="let sweetener">{{ sweetener.aliases.join(', ') }}</td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let sweetener">
        <span class="sweet-badge"
          [ngClass]="{
            'sweetener-chip': true,
            'sweetener-green': sweetener?.rating === 'Safe',
            'sweetener-yellow': sweetener?.rating === 'Caution',
            'sweetener-red': sweetener?.rating === 'Avoid'
          }">
            {{ sweetener.rating | titlecase }}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'aliases', 'rating']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'aliases', 'rating'];"
        [ngClass]="{
          'safe': row.rating === 'Safe',
          'caution': row.rating === 'Caution',
          'avoid': row.rating === 'Avoid'
        }"></tr>
  </table>
</div>
