<div class="scanner-container">
  <ng-container *ngIf="scannerActive">
    <button (click)="toggleScanner()" class="scan-btn">
      Close Scanner
    </button>
    <mat-form-field *ngIf="cameras && cameras.length > 1" subscriptSizing="dynamic" class="camera-select">
      <mat-label>Camera</mat-label>
      <mat-select [(value)]="selectedCameraId" (selectionChange)="onCameraChange($event)">
        <mat-option *ngFor="let camera of cameras" [value]="camera.id">{{ camera.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="!scannerActive">
    <button (click)="toggleScanner()" class="scan-btn">
      Scan Barcode
    </button>
  </ng-container>
</div>
<div *ngIf="scannerActive" id="reader"></div>
